snippet eqr "equation ref" w
\eqref{eqn:${1:label}}
endsnippet

snippet vb "vector bold" w
\vb{${1:${VISUAL}}}
endsnippet

snippet bs "bold symbol" w
\boldsymbol{${1:${VISUAL}}}
endsnippet

snippet -> "right arrow" w
\rightarrow
endsnippet
